# Employee Management System

In [2]:
import mysql.connector
conn=mysql.connector.connect(user='root', password='root', host='localhost')
querry='create database mydb'
mycursor=conn.cursor()
mycursor.execute(querry)

mycursor.close()
conn.close()

DatabaseError: 1007 (HY000): Can't create database 'mydb'; database exists

In [3]:
import mysql.connector
conn=mysql.connector.connect(user='root',password='root',
                             host='localhost',database='mydb')

qur='create table emp(name VARCHAR(40),mob VARCHAR(40),dept VARCHAR(40),sal VARCHAR(40))'
mycur=conn.cursor()
mycur.execute(qur)
mycur.close()
conn.close()

ProgrammingError: 1050 (42S01): Table 'emp' already exists

In [ ]:
import mysql.connector
from tkinter import *
from tkinter import messagebox
from tkinter import ttk


win=Tk()
win.title('EMPLOYEE MANAGEMENT SYSTEM')
win.configure(bg='skyblue')
win.geometry('800x600')


def show():
    conn=mysql.connector.connect(user='root',password='root',
                             host='localhost',database='mydb')

    qur='select * from emp'
    mycur=conn.cursor()
    mycur.execute(qur)
    
    list1=mycur.fetchall()   #To fetch all the data in the form of list
    
    mycur.close()
    conn.close()
    for i in list1:   # To iterate the values
        treev.insert('', END, values=(i[0],i[1],i[2],i[3]))
        
    


def add():
    name=n1.get()  # to get the values
    mob=m1.get()
    dept=d1.get()
    sal=s1.get()
    
    if name=='' or mob=='' or dept=='' or sal=='':
        messagebox.showinfo('info', 'Its compulsory to fill all the fields')
    else:
        conn=mysql.connector.connect(user='root',password='root',
                             host='localhost',database='mydb')

        qur=f'insert into emp values("{name}", "{mob}","{dept}","{sal}")'  # To access variables in string....
        mycur=conn.cursor()
        mycur.execute(qur)
        conn.commit()
        mycur.close()
        conn.close()
        messagebox.showinfo('info', 'Data is added successfully')
        n1.set('')   # To clear the data.....
        m1.set('')
        d1.set('')
        s1.set('')
        
        
        

def salary():
    root=Tk()
    root.title("Salary")
    root.configure(bg='cyan')
    root.geometry('600x600')
    
    def disp():
        name=e7.get()
        conn=mysql.connector.connect(user='root',password='root',
                                    host='localhost',database='mydb')

        qur=f'select sal from emp where name="{name}"'
        mycur=conn.cursor()
        mycur.execute(qur)
        tup1=mycur.fetchone()
        l8.config(text=tup1[0]+' RS')
    
        mycur.close()
        conn.close()
    
    l7=Label(root, text="Enter The Name", width=15, relief='ridge', bd=5)
    l7.place(x=100, y=50)
    
    var3=StringVar()
    e7=Entry(root,bg='white',fg='black',bd=5,textvariable=var3,
        relief='ridge',width=20)

    e7.place(x=230,y=50)
    
    b9=Button(root,text='SHOW', bd=5, relief='ridge', width=12, command=disp)
    b9.place(x=220, y=100)
    
    l8=Label(root,text='Salary is here', width=30, height=5)
    l8.place(x=100, y=140)
    
    
    root.mainloop()



def delete():
    name = var1.get()
    
    if name == '':
        messagebox.showinfo('info', 'It is compulsory to fill the name field')
    else:
        conn = mysql.connector.connect(user='root', password='root', host='localhost', database='mydb')

        qur = f'DELETE FROM emp WHERE name = "{name}"'
        mycur = conn.cursor()
        mycur.execute(qur)
        conn.commit()
        mycur.close()
        conn.close()
        messagebox.showinfo('info', 'Data is deleted successfully')
        
        var1.set('') # Used for clear
        
        


def select():
    name= var2.get()
    if name == '':
        messagebox.showinfo('info', 'It is compulsory to fill the name field')
    else:
        conn = mysql.connector.connect(user='root', password='root', host='localhost', database='mydb')

        qur = f'select * from  emp Where name="{name}"'
        mycur= conn.cursor()
        mycur.execute(qur)
        tup1= mycur.fetchone()
        e1.insert(0,tup1[0])
        e2.insert(0,tup1[1])
        e3.insert(0,tup1[2])
        e4.insert(0,tup1[3])
        
        mycur.close()
        conn.close()
    
    


def update():
    name=n1.get()  # to get the values
    mob=m1.get()
    dept=d1.get()
    sal=s1.get()
    
    if name=='' or mob=='' or dept=='' or sal=='':
        messagebox.showinfo('info', 'Its compulsory to fill all the fields')
    else:
        conn=mysql.connector.connect(user='root',password='root',
                             host='localhost',database='mydb')

        qur=f'update emp SET mob="{mob}", dept="{dept}", sal="{sal}" where name="{name}"'
        mycur=conn.cursor()
        mycur.execute(qur)
        conn.commit()
        mycur.close()
        conn.close()
        messagebox.showinfo('info', 'Data is updated successfully')
        n1.set('')   # To clear the data.....
        m1.set('')
        d1.set('')
        s1.set('')
        var2.set('')
        
    


def clear():
    treev.delete(*treev.get_children()) # to (get) all records from treeview by (*) and then (delete) it.
    
    
    
    
    

# main label

l0=Label(win,text='EMPLOYEE MANAGEMENT SYSTEM',bg='white',fg='black',
        bd=5,relief='ridge',width=40,font=('times new roman',16,'bold'))

l0.place(x=268,y=40)

# name label and entry
l1=Label(win,text="EMPLOYEE NAME",bg='white',fg='black',bd=5,
        relief='ridge',width=20,font=('times new roman',12,'bold'))

l1.place(x=190,y=100)
n1=StringVar()
e1=Entry(win,bg='white',fg='black',bd=5,textvariable=n1,
        relief='ridge',width=40,font=('times new roman',12,'bold'))

e1.place(x=405,y=100)

# mob number label and entry

l2=Label(win,text="MOBILE NUMBER",bg='white',fg='black',bd=5,
        relief='ridge',width=20,font=('times new roman',12,'bold'))

l2.place(x=190,y=140)
m1=StringVar()
e2=Entry(win,bg='white',fg='black',bd=5,textvariable=m1,
        relief='ridge',width=40,font=('times new roman',12,'bold'))

e2.place(x=405,y=140)

# dept label and entry
l3=Label(win,text="DEPARTMENT",bg='white',fg='black',bd=5,
        relief='ridge',width=20,font=('times new roman',12,'bold'))

l3.place(x=190,y=180)
d1=StringVar()
e3=Entry(win,bg='white',fg='black',bd=5,textvariable=d1,
        relief='ridge',width=40,font=('times new roman',12,'bold'))

e3.place(x=405,y=180)

# salary label and entry
l4=Label(win,text="SALARY",bg='white',fg='black',bd=5,
        relief='ridge',width=20,font=('times new roman',12,'bold'))

l4.place(x=190,y=220)
s1=StringVar()
e4=Entry(win,bg='white',fg='black',bd=5,textvariable=s1,
        relief='ridge',width=40,font=('times new roman',12,'bold'))

e4.place(x=405,y=220)


# 4 button add show exit salary

b1=Button(win,text="SHOW",width=15,command=show)
b1.place(x=200,y=320)

b2=Button(win,text="ADD",width=15,command=add)
b2.place(x=500,y=320)


b3=Button(win,text="EXIT",width=15,command=win.destroy)
b3.place(x=200,y=360)

b4=Button(win,text="SALARY",width=15,command=salary)
b4.place(x=500,y=360)


# delete label entry button

l5=Label(win,text="Enter Name>>",bg='white',fg='black',bd=5,
        relief='ridge',width=20,font=('times new roman',12,'bold'))

l5.place(x=190,y=420)

var1=StringVar()
e5=Entry(win,bg='white',fg='black',bd=5,textvariable=var1,
        relief='ridge',width=40,font=('times new roman',12,'bold'))

e5.place(x=405,y=420)
b5=Button(win,text="DELETE",width=15,command=delete)
b5.place(x=405,y=460)


# update label entry 2 button(select and update)

l6=Label(win,text="Enter Name>>",bg='white',fg='black',bd=5,
        relief='ridge',width=20,font=('times new roman',12,'bold'))

l6.place(x=190,y=500)

var2=StringVar()
e6=Entry(win,bg='white',fg='black',bd=5,textvariable=var2,
        relief='ridge',width=40,font=('times new roman',12,'bold'))

e6.place(x=405,y=500)
b6=Button(win,text="SELECT",width=15,command=select)
b6.place(x=230,y=540)


b7=Button(win,text="UPDATE",width=15,command=update)
b7.place(x=385,y=540)


# treeview

treev=ttk.Treeview(win,height=25)
treev.place(x=800,y=100,width=530)

treev["columns"] = ("1", "2", "3","4")
treev['show'] = 'headings'

treev.column("1", width = 90, anchor ='c')
treev.column("2", width = 90, anchor ='se')
treev.column("3", width = 90, anchor ='se')
treev.column("4", width = 90, anchor ='se')


treev.heading("1", text ="Name")
treev.heading("2", text ="Mobile No")
treev.heading("3", text ="Dept")
treev.heading("4", text ="Salary")

# clear button

b8=Button(win,text="CLEAR",width=15,command=clear)
b8.place(x=1000,y=630)

win.mainloop()